<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>設定安全的使用者密碼</title>
    </head>
    <body style="text-align: center;">
        <h1>設定安全的使用者密碼</h1>
        <form method="post" action="/password/regis" onsubmit="pwdCheck()">
            {% csrf_token %}
            <input type="text" placeholder="請輸入帳號" id="account" name="account">
            <input type="password" placeholder="請輸入密碼" id="password" name="password">
            <button type="submit">註冊</button>
        </form>
    </body>
</html>
<script>
    function pwdCheck() {
        let pwd = document.getElementById("password").value;
        return false; //先不送出至伺服器
    }
</script>